<section class="form form--white-text">
	<div class="container">
		<h2 class="form__title">Остались вопросы?</h2>
		<p class="form__descr">Задача организации, в особенности же курс на социально-ориентированный национальный проект позволяет оценить значение модели развития. </p>
		<form action="" class="form__form">
			<label for="name" class="form__label">
				<span class="form__label-text">Имя</span>
				<input id="name" type="text" name="fullName" placeholder="Иванов Илья">
			</label>
			<label for="tel" class="form__label">
				<span class="form__label-text">Имя</span>
				<input id="tel" type="number" name="tel" placeholder="+7 ( 9 9 9 ) 9 9 9 - 9 9 - 9 9">
			</label>
			<label for="email" class="form__label">
				<span class="form__label-text">Имя</span>
				<input id="email" type="email" name="email" placeholder="Email">
			</label>
			<button type="submit" class="btn btn--blue form__btn">Отправить</button>
		</form>
	</div>
</section>