<section class="hero">
    <div class="hero__section">
		<div class="hero__bg">
			<picture>
				<img src="./assets/bg.png" alt="bg" />
			</picture>
		</div>
        <div class="container">
            <div class="hero__info">
                <h1 class="hero__title">До луны и обратно</h1>
                <p class="hero__descr">
                    Задача организации, в особенности же курс на
                    социально-ориентированный национальный проект позволяет
                    оценить значение модели развития.
                </p>
                <div class="hero__group-bg">
                    <a href="#" class="hero__btn btn">Подробнее о нас</a>
                    <a href="#" class="hero__video-btn"
                        ><span class="icon-play"></span
                    ></a>
                </div>
            </div>
        </div>
    </div>
	<div class="hero__planet">
		<picture>
			<img src="./assets/planets.svg" alt="planet">
		</picture>
	</div>
</section>
