<section class="listing">
	<div class="container">
		<h2 class="listing__title title">Вы с нами?</h2>
		<div class="listing__top-panel">
			<ul class="listing__tab">
				<li class="listing__tab-elem"><button class="listing__button-tab active">Горящие предложения</button></li>
				<li class="listing__tab-elem"><button class="listing__button-tab">Горящие предложения</button></li>
			</ul>
			<div class="listing__btn">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="swiper listing__swiper" data-type="slider-1">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">Slide 1</li>
			</ul>
			<div class="swiper-pagination"></div>
		</div>
		<div class="swiper listing__swiper" data-type="slider-2">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">Slide 1</li>
			</ul>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>